NODE_ENV=development
PORT=3001

SECRET_KEY=sikokar-v1.5-kokarsi-2025-GANTI-DI-PRODUKSI
SESSION_TIMEOUT_MINUTES=60
HTTPS_ONLY=false

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sikokar

CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=uploads
BACKUP_DIR=backup
